@import 'var', 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(../assets/images/background.jpg) repeat;
}

.container {
  &-pack {
    margin: 25px 15px 15px 50px;
  }
}

.main {

  &__title {
    font: $title-font;
    text-align: center;
    color: $text-bg;
  }
  
  &-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1120px;
    font-family: $main-font-family;

    &__downtext {
      color: $text-bg;
      text-align: center;
      margin: 0 auto;
    }

    &-pack {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: url(../assets/images/cat.jpg) no-repeat bottom left $pack-color;
      width: 320px;
      height: 480px;
      margin: 25px 0px 15px;
      border: 5px solid var(--default);
      border-radius: 10px;

      &__description {
        margin-bottom: 15px;
        font-size: 16px;
        color: $second-text-color;
      }

      &__title {
        font-size: 32px;
        color: $main-text-color;
      }

      &__with {
        font-size: 24px;
        color: $main-text-color;
      }
      
      &__number {
        margin-top: 15px;
        font-size: 14px;;
        line-height: 16px;
        color: $second-text-color;
      }

      &__present {
        font-size: 14px;
        color: $second-text-color;
      }

      &-kg {
        float: right;
        width: 80px;
        height: 80px;
        line-height: 60px;
        font-size: 42px;
        color: #fff;
        text-align: center;
        background: #1698d9;
        border-radius: 50%;
        
        &__p {
          font-size: 21px;
          line-height: 1px;
        }
      }

    }
  }
}