div(class='main-block' id='block')
  pack-block(@to_select="toSelect(index)" 
  @to_hover="toHover(index)" 
  @to_unhover="toUnhover(index)" 
  :data="data" v-for="(data, index) in packs" :key="index")